<div class="table-wrapper">
    <table class="fl-table">
        <thead>
            <tr>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Genero</th>
                <th>Pais</th>
                <th>Ciudad</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of clientesService.clientes">
                <td>{{item.nombres}}</td>
                <td>{{item.apellidos}}</td>
                <td>{{item.genero}}</td>
                <td>{{item.pais}}</td>
                <td>{{item.ciudad}}</td>
            </tr>
        <tbody>
    </table>
</div>
